@model KBVault.Web.Models.KbUserViewModel

@{
    ViewBag.Title = UIResources.UserListAddUserHeader;
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}


@section ContentHeader{
    <h1>
        @ViewBag.Title
    </h1>
}

@using (Html.BeginForm())
{
    
    @Html.ValidationSummary()    
    @Html.HiddenFor(m => m.Id);
    <div class="form-group">
        <label for="UserName">@UIResources.UserListEditUserUsernameLabel</label>        
        <input type="text" class="form-control" name="UserName" />
    </div>
    <div class="form-group">
        <label for="Email">@UIResources.UserListEditUserEmailLabel</label>
        <input type="text" class="form-control" name="Email" />
    </div>
    <div class="row">        
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="Name">@UIResources.UserListEditUserNameLabel</label>
                    <input type="text" class="form-control" name="Name" />
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="LastName">@UIResources.UserListEditUserLastNameLabel</label>
                    <input type="text" class="form-control" name="LastName" />
                </div>
            </div>                        
    </div>        
    <div class="form-group">
        <label for="OldPassword">@UIResources.UserListEditUserOldPasswordLabel</label>
        <input type="password" class="form-control" name="OldPassword"/>
    </div>  
    <div class="form-group">
        <label for="Role">@UIResources.UserListEditUserRoleLabel</label>
        @Html.DropDownList("Role", KBVaultHelperFunctions.CreateRolesDropdown(""))
    </div>
    <input type="submit" value="@CommonResources.ButtonSave" class="btn btn-default" />
}



