@model KBVault.Web.Models.SettingsViewModel

@{
    ViewBag.Title = @UIResources.SettingsPageTitle;
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

@section ContentHeader{
     <h1>
        @ViewBag.Title
         <button class="btn btn-default pull-right" onclick="$('#btnSettingsSubmit').click()"> @CommonResources.ButtonSave</button>
    </h1>
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary()    
    <div class="form-group">
        <div class="row">
            <div class="col-xs-10">
                <label for="CompanyName">@UIResources.SettingsPageCompanyNameLabel</label>
                <input type="text" class="form-control" name="CompanyName" value="@Model.CompanyName" />
            </div>
            <div class="col-xs-2">           
                <label>&nbsp;</label>     
                <input type="text" aria-readonly="true" readonly="true" class="form-control" value="Version @Model.ApplicationVersion" />
            </div>
        </div>

    </div>
    <div class="form-group">
        <label for="TagLine">@UIResources.SettingsPageTagLineLabel</label>
        <input type="text" class="form-control" name="TagLine" value="@Model.TagLine"/>
    </div>
    <div class="form-group">
        <label for="JumbotronText">@UIResources.SettingsPageJumbotronTextLabel</label>
        <input type="text" class="form-control" name="JumbotronText" value="@Model.JumbotronText"/>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="ArticleCountPerCategoryOnHomePage">@UIResources.SettingsPageArticlePerCatLabel</label>
                <input type="text" class="form-control" name="ArticleCountPerCategoryOnHomePage" value="@Model.ArticleCountPerCategoryOnHomePage" />
            </div>
            <div class="col-xs-6">
                <label for="SelectedTheme">@UIResources.SettingsTheme</label>
                @Html.DropDownListFor(m => m.SelectedTheme, new SelectList(Model.Themes, Model.SelectedTheme), new { @class = "form-control" })
            </div>            
            
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label for="DisqusShortName">@UIResources.SettingsPageDisqusShortNameLabel</label>
                <input type="text" class="form-control" name="DisqusShortName" value="@Model.DisqusShortName"/>
            </div>
            <div class="col-xs-6">
                <label for="ArticlePrefix">@UIResources.SettingsArticlePrefixLabel</label>
                <input type="text" class="form-control" name="ArticlePrefix" value="@Model.ArticlePrefix"/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label for="AnalyticsAccount">@UIResources.SettingsPageAnalyticsAccount</label>
                <input type="text" class="form-control" name="AnalyticsAccount" value="@Model.AnalyticsAccount"/>
            </div>            
            <div class="col-xs-6">
                <label for="ShareThisPublicKey">@UIResources.SettingsPageShareThisKeyLabel</label>
                <input type="text" class="form-control" name="ShareThisPublicKey" value="@Model.ShareThisPublicKey" />
            </div>
        </div>
    </div>    
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="ShowTotalArticleCountOnFrontPage" value="true" />@UIResources.SettingsShowTotalArticleCountOnFrontPage
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="IndexFileExtensions">@UIResources.SettingsPageIndexFileExtensionsLabel</label>
        <input type="text" class="form-control" name="IndexFileExtensions" value="@Model.IndexFileExtensions" />
    </div>
    <div class="form-group">
        <label for="BackupPath">@UIResources.SettingsBackupPath</label>
        <input type="text" class="form-control" name="BackupPath" value="@Model.BackupPath" />
        <p class="danger"><i class="fa fa-info-circle"></i>@UIResources.SettingsBackupPathWarning</p>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input id="btnSettingsSubmit" type="submit" class="btn btn-default pull-right" value="@CommonResources.ButtonSave" />
        </div>
    </div>
}